<!-- suggestion template -->

{% block suggestion %}

<div class="col-sm-12 suggestion">
            
              <div class="sugg-heading">
              		<strong>What To Read Next</strong>
              		<span class="pull-right">
                       
              			<a href = "#"><i class="fa fa-angle-left"></i></a>
              			<i class="sep">|</i>
              			<a href = "#"><i class="fa fa-angle-right"></i></a>
                       
              		</span>
              </div>

</div>

<div class="articles-list">
    {% for article in articles %}
        
        <div class="col-sm-3">
	       
	       <img src="{{MEDIA_URL}}{{article.hero_image}}" height="150" style="width:100%"/>
	       <b><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></b>

        </div>

    {% empty %}
        
        <p>No articles in suggestions</p>

    {% endfor %}
  
</div>

{% endblock %}