<!-- base template -->

{% load staticfiles %}
<html>
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet"/>
    <link href={% static "css/style.css" %} rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <div class="container">

        <head>
            <title>{% block title %}Home{% endblock %} - My Article</title>
        </head>

        <body>
            
            <div class="container">
                {% block pagebody %}
                <p>Oops, something went wrong.</p>
                {% endblock %}
            </div>

        </body>
    </div>
</html>