<!-- index page -->

{% extends 'base.html' %}

{% block title %}Articles{% endblock %}
 
{% block pagebody %}

<div class="row">
	
	<div class="col-md-2">
	    {% block sidebar %}
	    
	    {% include 'partials/sidebar.html' %}
	    
	    {% endblock %}
	</div>

    <div class="col-md-10">
            
            <div class="row">
              
                <div class="col-md-12">
                
		            <h1>{{featured_article.title}}</h1></br>
			        
			        <small class="text-muted">{{datenow}} | <a href="#">{{featured_article.author_name}}</a></br>
			        
		            <img src="{{MEDIA_URL}}{{featured_article.hero_image}}"/>
		            
		            </br>
		            </br>
		            <p>{{featured_article.body}}</p>
		            </br>
			
		            <a href="/articles/detail/{{ featured_article.id }}">read more</a></br>
		       
		        </div>
 
            
	            <div class="col-md-12">
	                  
	                  
				    {% for article in sorted_article_list %}
					        
					        
			               
			                <div class="col-md-1 number">
			                    
			                    <span class="numbering">{{ forloop.counter}}</span>
			                 
			                </div>
				             
				            <div class="col-md-11">
					             
					            <h4><strong><a href="/articles/detail/{{ article.id }}">{{ article.title }}</a></strong></h4>
				                
				                <p>{{article.body}}</p>
				                
				                <a href="/articles/detail/{{ article.id }}" class="breakmaster">Call to action</a>

					        </div>
						      

					{% empty %}
					        
					        <li>No articles to show</li>

					{% endfor %}
					

			    </div>
		
              
              
                  
                  {% block suggestion %}
    
                  {% include 'partials/suggestions.html' %}

                  {% endblock %}
          
            </div>

    </div> 
</div>             
{% endblock %}





